.DS_Store
*.sublime-workspace
*.sublime-project
anon-analyze/
old/
openAfterBuild.sh
out/
gen/exiftool
gen/static/gallery-img/*/hashes-*.db
gen/static/mandelbrot-gallery/**/*.md
gen/static/birds/*.md
gen/static/photo-galleries.md
gen/static/photos/*.md
gen/static/misc/noise-flow-field/index-*.md
gen/loc_names_locations.csv
graphics/
python-venv/
